In [4]:
from sqlalchemy import create_engine
import pymssql
import pandas as pd

server = "mssql-82792-0.cloudclusters.net:16272"
username = "user"
password = "RiceOwls1912" # paste password between quote marks
database = "ghz"

string = "mssql+pymssql://" + username + ":" + password + "@" + server + "/" + database

conn = create_engine(string).connect()

data = pd.read_sql(
    """
    select ticker, date, ret, roeq, mom12m
    from data
    where date='2021-01'
    """,
    conn
)
data = data.dropna()
data.info()

  ticker     date       ret      roeq
0   JJSF  2021-01 -0.017442 -0.015181
1    ELA  2021-01  0.203846  0.045763
2   PLXS  2021-01 -0.016494  0.040156
3   RMCF  2021-01  0.071605 -0.189450
4   ORCL  2021-01 -0.062143  0.218897