In [10]:
import quandl

quandl.ApiConfig.api_key = "f-5zoU2G4zzHaUtkJ7BY"
data = quandl.get_table('SHARADAR/DAILY',ticker="CVX", qopts={"columns":["date", "pe"]})
data.set_index("date").plot()

SyntaxError: invalid syntax (3520358856.py, line 9)

In [12]:
from sqlalchemy import create_engine
import pymssql
import pandas as pd

server = "mssql-82792-0.cloudclusters.net:16272"
username = "keback"
password = "FdsaJkl101!"
database = "ghz"
string = "mssql+pymssql://" + username + ":" + password + "@" + server + "/" + database
conn = create_engine(string).connect()

In [13]:
pd.read_sql(" select * from information_schema.tables ", conn)

  TABLE_CATALOG TABLE_SCHEMA TABLE_NAME  TABLE_TYPE
0           ghz          dbo  variables  BASE TABLE
1           ghz          dbo       data  BASE TABLE

In [14]:
df = pd.read_sql("select * from variables", conn)

In [15]:
df.to_excel("ghz-predictors.xlsx")

In [9]:
from pandas_datareader import DataReader as pdr
aapl = pdr('aapl', 'yahoo', start="2022-01-01", end="2022-03-31")
aapl = aapl['Adj Close']

ma = aapl.rolling(50).mean()
aapl = aapl.reset_index()
aapl.columns = ['date', 'price']

ma = ma.reset_index()
ma.columns = ['date', 'ma']

df = aapl.merge(ma, left_on="date", right_on="date", how="inner")
df['ret'] = df.price.pct_change()
df['down'] = (df.price.shift()>df.ma.shift()) & (df.price<df.ma)
df['up'] = (df.price.shift()<df.ma.shift()) & (df.price>df.ma)
df['other'] = (~df.down) & (~df.up)
df['down'] = df.down.shift()
df['up'] = df.up.shift()
df['other'] = df.other.shift()
df = df.dropna()
meanDown = df[df.down].ret.mean()
meanUp = df[df.up].ret.mean()
meanOther = df[df.other].ret.mean()
print(f"mean following down is {meanDown:.2%}")
print(f"mean following up is {meanUp:.2%}")
print(f"other mean is {meanOther:.2%}")

mean following down is nan%
mean following up is 0.82%
other mean is 1.18%

In [4]:
df[df.down].head()

          date       price          ma       ret  down     up  other
75  2020-04-21   65.994301   68.049798 -0.030910  True  False  False
181 2020-09-21  108.767021  109.478186  0.030326  True  False  False
184 2020-09-24  106.929199  110.217510  0.010269  True  False  False
191 2020-10-05  115.110451  112.859962  0.030791  True  False  False
193 2020-10-07  113.707405  113.660616  0.016967  True  False  False

In [8]:
df['accum'] = (1+df.ret).cumprod()
df['ret5'] = df.accum.shift(-4)/df.accum.shift() - 1
dmeanDown = df[df.down].ret5.mean()
meanUp = df[df.up].ret5.mean()
meanOther = df[df.other].ret5.mean()
print(f"mean following down is {meanDown:.2%}")
print(f"mean following up is {meanUp:.2%}")
print(f"other mean is {meanOther:.2%}")

mean following down is 0.10%
mean following up is 0.25%
other mean is 0.74%